.info__data {
    text-align: left;
    border: none;
    box-sizing: border-box;
    padding: 16px 0;
    margin: 0;
}

.info__data:first-child {
    width: 306px;
    padding-top: 10px;
}

.info__data:last-child {
    width: 398px;
    padding-left: 16px;
}

@media screen and (max-width: 765px) {
    .info__data {
        display: block;
        width: 100%;
    }

    .info__data:first-child {
        padding-bottom: 12px;
        padding-top: 9px;
    }

    .info__data:last-child {
        width: 398px;
        padding: 0 0 5px 0;
    }
}