.idea {
    margin: 0;
    padding: 60px 0 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1366px) {
    .idea {
        padding-top: calc(48px + (60 - 48) * ((100vw - 765px) / (1366 - 765)));
        padding-bottom: calc(34px + (20 - 34) * ((100vw - 765px) / (1366 - 765)));
    }
}

@media screen and (max-width: 765px) {
    .idea {
        padding-top: 48px;
        padding-bottom: 34px;
    }
}