.carousel__wrapper {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    transition: transform 0.5s ease;
}

@media screen and (max-width: 780px) {
    .carousel__wrapper {
        gap: 32px;
    }
}