.header__title {
  font-family: 'Merriweather';
  font-weight: 400;
  font-size: 60px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: right;
  color: #313131;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:765px) {
    .header__title {
        font-size: 36px;
    }
}
