.info__row {
    box-sizing: border-box;
}

.info__row:not(:last-child) {
    border-bottom: 2px solid #d0d0d0;
}

.info__row:first-child td {
    padding-top: 0;
}

.info__row:last-child td {
    padding-bottom: 0;
}

@media screen and (max-width: 765px) {
    .info__row {
        display: block;
        width: 335px;
    }

    .info__row:not(:last-child) {
        margin-bottom: 16px;
    }

    .info__row:first-child td:first-child {
        padding-bottom: 12px;
    }

    .info__row:last-child td {
        padding-bottom: 5px;
    }
}