.header__button_light {
    background-color: transparent;
    border: 2px solid #1f1f1f;
}

.header__button_light:hover {
    background-color: #1f1f1f;
    color: #fff;
}

@media screen and (max-width:1150px) {
    .header__button_light {
        background-color: #fff;
        opacity: 0.9;
    }
}